beautifulsoup4==4.7.1
certifi==2019.6.16
chardet==3.0.4
Django==2.2.2
django-mathfilters==0.4.0
idna==2.8
image==1.5.27
numpy==1.16.4
opencv-python==4.1.0.25
pandas==0.24.2
Pillow==6.0.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
selenium==3.141.0
six==1.12.0
soupsieve==1.9.1
sqlparse==0.3.0
urllib3==1.25.8
